
#song-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

.album {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-image: url("/assets/images/blurred_backgrounds/blur_bg_3.jpg");
  color: white;
}

.album-cover {
    display: flex;
    flex-direction: row;
    padding: 2em;

}

#album-cover-art {
  height: 18rem;
}

.album-details {
  padding: 3rem;
  text-align: left;
  font-family: "Lucida Console", Monaco, monospace;
}

#album-title {
  width: 100%;
  justify-content: space-between;
  padding-top: 1em;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}

.artist {
  font-size: 30px;
  margin: 10px;
}

#release-info {
  font-size: 20px;
  margin: 10px;
}

@media all and (max-width: 830px) {
  #album-info {
   flex-direction: column;
   margin: auto;
 }

 #album-cover-art {
   height: 18rem;
   width: 18rem;
 }

 #song-list {
   flex-direction: column;
   margin: auto;
 }

 .album-details {
   padding: 1rem 1rem 0;
 }
}

@media all and (max-width: 380px) {
  #album-cover-art {
    height: 14rem;
    width: 14rem;
  }
}
